body {
	min-height: 900px;
}

#header {
	text-align: center;
	margin: 10px auto 10px auto;
	font-family: Segoe UI, Verdana, Arial;
	font-size: 1.1rem;
	font-weight: bold;
	color: #474747;
	padding-bottom: 20px;

	border-bottom: 2px solid #d4d4d4;
}

#main {
	margin: 0px 40px 0px 40px;
	
}

.block {
	visibility: hidden;
	opacity: 0.0;
	vertical-align: top;
	width: 97%;

	margin-top: 2%;

	position: relative;
	top: 15px;
	left: -10px;

	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-ms-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;

  	/*-ms-transform: skew(20deg,20deg); 
    -webkit-transform: skew(20deg,0deg); 
    transform: skew(20deg,20deg);
*/
  	overflow:hidden;

  	z-index: 3;

  	box-shadow: 1px 1px 6px #888888;
}

.active {
	visibility: visible;
	opacity: 1.0;
	top: 0px;
	left: 0px;
/*	-ms-transform: skew(0deg,0deg); 
    -webkit-transform: skew(0deg,0deg); 
    transform: skew(0deg,0deg);*/
}

.block img {
	width: 100%;
	height: 100%;
	display: block;
}

.column {
	display: inline-block;
	vertical-align: top;
	min-height: 20px;
	width: 250px;
}
	.column.no5 {
		width: 20%;
	}
	.column.no4 {
		width: 25%;
	} 
	.column.no3 {
		width: 33%;
	} 
	.column.no2 {
		width: 50%;
	} 
	.column.no1 {
		width: 100%;
	} 
