@font-face {
    font-family: ExpressWay;
    src: url(ExpressWay.ttf);
}

body {
	min-height: 900px;
}

#header {
	text-align: center;
	margin: 10px auto 10px auto;
	font-family: ExpressWay, Verdana, Arial;
	font-size: 1.5rem;
	font-weight: bold;
	color: #474747;
	padding-bottom: 20px;

	border-bottom: 2px solid #d4d4d4;
}

#main {
	margin: 0px 40px 0px 40px;

	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-moz-transform: translateY(30px);
	transform: translateY(30px);

	-webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;
  	

	opacity: 0.0;
}

	#main.active {
		opacity: 1.0;
		
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

.block {
	visibility: hidden;
	opacity: 0.0;
	vertical-align: top;
	width: 100%;

	-webkit-transform: translateX(-30px) translateY(30px) translateZ(0px) rotateX(-10deg) rotateY(-28deg) rotateZ(-2deg);
	-ms-transform: translateX(-30px) translateY(30px) translateZ(0px) rotateX(-10deg) rotateY(-28deg) rotateZ(-2deg);
	-moz-transform: translateX(-30px) translateY(30px) translateZ(0px) rotateX(-10deg) rotateY(-28deg) rotateZ(-2deg);
	transform: translateX(-30px) translateY(30px) translateZ(0px) rotateX(-10deg) rotateY(-28deg) rotateZ(-2deg);

	-webkit-transition: all 0.3s ease;
  	-moz-transition: all 0.3s ease;
  	-ms-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;

  	overflow:hidden;

  	z-index: 3;

  	box-shadow: 1px 1px 6px #888888;
}

.active {
	visibility: visible;
	opacity: 1.0;

	-webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-moz-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.block img {
	width: 100%;
	height: 100%;
	display: block;
}

.container {
	border: 1px solid #d0d0d0;
	vertical-align: top;
	margin-top: 2%;
	width: 97%;
	min-height: 100px;
}

.column {
	display: inline-block;
	vertical-align: top;
	min-height: 10px;
	width: 250px;
	margin: 0px auto 0px auto;
}
	.column.no10 {
		width: 10%;
	}
	.column.no9 {
		width: 11%;
	} 
	.column.no8 {
		width: 12.4%;
	} 
	.column.no7 {
		width: 14%;
	} 
	.column.no6 {
		width: 16.5%;
	}
	.column.no5 {
		width: 20%;
	}
	.column.no4 {
		width: 25%;
	} 
	.column.no3 {
		width: 33%;
	} 
	.column.no2 {
		width: 50%;
	} 
	.column.no1 {
		width: 300px;
	}

#loader
{
	margin: 0px auto 0px auto;
	background-color: #d0d0d0;
	height: 5px;
	width: 80%;
	visibility: hidden;
}



